* {
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0; padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    scroll-behavior: smooth; 
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
  }


  .header {
    background-color: rgb(41, 39, 39);
    color: white;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: flex-start;
  }

  .li {
   list-style-type: none;
   color: white;
  }

  .list-link {
    list-style-type: none;
   color: white;
   transition: color 0.4s;

  }

  .list-link:hover {
    
      color: #e6a1d1;
  
  }
  .section-title-name {
    text-align: center;
  }

  .section-title {
    background-color: rgb(129, 128, 129);
   padding-left: 10px;
  }

  .section-title-img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
  .section-courses-link {
    text-decoration: none;
    color: #0a0a0a;
    transition: color 0.4s;
  }

  .section-courses-link:hover {
    color: #e6a1d1;
  }
 .work-link {
  color: #0a0a0a;
  transition: color 0.4s;
 }

 .work-link:hover {
  color: #e6a1d1;
 }

  .footer {
    background-color: rgb(129, 128, 129) ;
   
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: flex-start;
  }
  .footer-link {
    width: 121px;
    height: 45px;
    text-decoration: none;
    color: #0a0a0a;
    transition: color 0.4s;
  }

  .footer-link:hover {
    color: #e6a1d1;
  }

  .footer-img {
    width: 121px;
    height: 45px;
  }